In [9]:
## 15:57 测试 没有拿到
## 17:22 测试 没有拿到
import tushare as ts

pro = ts.pro_api('311165ab8d8035b1ea5ffabfb2a6c4ff3adafa3295827bc06fcb4720')

df = pro.stk_factor_pro(ts_code='000938.SZ', start_date='20250214', end_date='20250224')
df

,ts_code,trade_date,open,open_hfq,open_qfq,high,high_hfq,high_qfq,low,low_hfq,...,xsii_td1_qfq,xsii_td2_bfq,xsii_td2_hfq,xsii_td2_qfq,xsii_td3_bfq,xsii_td3_hfq,xsii_td3_qfq,xsii_td4_bfq,xsii_td4_hfq,xsii_td4_qfq
0,000938.SZ,20250224,33.03,235.14057,33.03,34.00,242.04600,34.00,32.55,231.72345,...,31.40835,30.17665,214.82757,30.17665,31.73949,225.95343,31.73949,27.58666,196.38943,27.58666
1,000938.SZ,20250221,30.60,217.84140,30.60,32.42,230.79798,32.42,30.50,217.12950,...,31.02228,29.80572,212.18692,29.80572,31.03201,220.91686,31.03201,26.97175,192.01185,26.97175
2,000938.SZ,20250220,29.65,211.07835,29.65,29.98,213.42762,29.98,28.91,205.81029,...,30.63774,29.43626,209.55673,29.43626,30.44433,216.73320,30.44433,26.46096,188.37558,26.46096
3,000938.SZ,20250219,29.19,207.80361,29.19,30.64,218.12616,30.64,29.04,206.73576,...,30.48984,29.29416,208.54513,29.29416,30.37033,216.20633,30.37032,26.39664,187.91765,26.39664
4,000938.SZ,20250218,30.52,217.27188,30.52,30.86,219.69234,30.86,29.01,206.52219,...,30.33684,29.14716,207.49863,29.14716,30.21720,215.11624,30.21720,26.26355,186.97019,26.26355
5,000938.SZ,20250217,31.01,220.76019,31.01,32.50,231.36750,32.50,30.50,217.12950,...,30.14355,28.96145,206.17656,28.96145,30.12336,214.44821,30.12336,26.18199,186.38956,26.18199
6,000938.SZ,20250214,28.59,203.53221,28.59,31.14,221.68566,31.14,28.30,201.46770,...,29.62794,28.46606,202.64988,28.46606,29.55682,210.41497,29.55682,25.68957,182.88404,25.68957